body
,h1,h2,h3,h4,h5,h6
,.navbar-custom
,.post-preview .post-entry
,.blog-tags
, .intro-header .page-heading .page-subheading
, .intro-header .post-heading .post-subheading
, .intro-header.big-img .img-desc
, .pagination .page-item .page-link
, #full-tags-list
{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  font-weight: 800;
  color: {{ site.navbar-text-col | default: "#1e4586" }}
}

footer a {
  color: {{ site.footer-link-col | default: "#1e4586" }}
}