body
,.navbar-custom
,.post-preview .post-entry
/*
,.blog-tags
, .intro-header .page-heading .page-subheading
, .intro-header .post-heading .post-subheading
, .intro-header.big-img .img-desc
, .pagination .page-item .page-link
, #full-tags-list
*/
{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
p {
  line-height: 1.5;
  margin: 0.5rem 0;
}

h1, h2, h3, h4 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.navbar-custom .navbar-nav .nav-item {
  text-transform: none;
  font-size: 1.0rem;
}

/* original
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 3.125rem;
}
.intro-header .post-heading h1 {
  margin-top: 0;
  font-size: 2.1875rem;
}
*/

.intro-header .page-heading h1 {
  font-size: 2.3rem;
}
.intro-header .post-heading h1 {
  font-size: 2.1rem;
}

/* original
@media (min-width : 768px)
.intro-header .page-heading h1 {
    font-size: 5rem;
}
*/

.post-preview a {
  color: #1e4586;
}

.footnote {
  /* font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-size: .85em;
  margin: .5em 0 0 0
}

/*Aus Default AsciiDoc CCS rauskopiert - sidebarblock*/

.sidebarblock {
  border: 1px solid #dbdbd6;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #f3f3f2;
  border-radius: 4px;
}

.sidebarblock>.content>.title {
  color: #7a2518;
  margin-top: 0;
  text-align: center;
}


/*
Eingabe-Elemente Web Formular:
*/

input.input {
  width: 90%;
}

textarea {
  width: 90%;
  height: 200px;
}

